html {
  /* font-size: 16px; */
  /* font-size: 62.5%; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
}

p {
  font-size: 1rem;
  margin: 1rem 0;
}
