body {
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 600px;
  margin: 130px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 60%;
  transition: all 0.5s;
}

.logo:hover {
  /* 旋转 */
  transform: rotate(-90deg);

  /* 位移 */
  transform: translateX(200px);
  transform: translateY(-200px);
  transform: translate(200px, 200px);

  /* 歪曲 */
  transform: skew(-30deg);

  /* 缩放 */
  transform: scale(1.5);

  transform: rotate(-90deg) translate(200px, 200px) skew(-30deg) scale(1.5);
}
