body {
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: red;
}

a:active {
  background-color: purple;
}

a:focus {
  background: yellow;
}

a:visited {
  color: aquamarine;
}
